VITE_API_BASE_URL=http://localhost:3000/api
VITE_HELP_URL_DASHBOARD=https://www.youtube.com/
VITE_HELP_URL_ORDERS=https://www.youtube.com/
VITE_HELP_URL_ITEMS=https://www.youtube.com/
VITE_HELP_URL_CUSTOMERS=https://www.youtube.com/
